<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 

  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta name="renderer" content="webkit" /> 
  <meta name="mobile-agent" content="format=html5;url=http://m.fkxifu.icoc.cc/" /> 
  <meta name="keywords" content="蓝道夫,祥达" /> 
  <meta name="description" content="蓝道夫,祥达" /> 
  	<include file="Public/header" title="公司介绍-肇庆祥达鞋业有限公司" />
 </head> 
 <body>
	<include file="Public/nav" />
		<div class="clear"></div>

	<div class="company">
		<div class="company-title">公司介绍</div>
		<div class="company-line"></div>
		<div class="company-content">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				肇庆祥达鞋业有限公司，是一家大型的台资企业，品牌RANDOLPH（蓝道夫）创立于1993年，是世界注册品牌。本公司大力引进国外先进制鞋设备、技术，引用科学合理的管理方法，自主研发和生产各类高档的休闲真皮鞋、手缝鞋、包子鞋、慢跑鞋、反绒鞋等产品。一双俨然是艺术品的蓝道夫鞋，就必须经过多重严谨复杂的制作步骤。主要由鞋面、内里、鞋垫、鞋底和靴筒组成。制作一双鞋子从开发到设计打样、拨钉，再到出货至少需要37道工序。先是皮料的选择和处理、尺寸的测量及鞋楦的制作，再经过粘合、缝纫、修正、调整等复杂工序，最后经过手工打磨上光，一双个性且舒适的鞋子才算完成。设计师们独具匠心，在每一双鞋子上缝制属于自己心中的潮流，舒适，休闲，物超所值是品牌设计不变的宗旨，一针一孔一线连缝手工缝制，耐磨，耐穿，透气无胶水，杜绝一边穿孔鞋的缺点，让您完全合脚型，富弹性保您的双脚，专业鞋楦制作的鞋耐穿，不易变形。
				
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				经营理念：以人为本，持续研发，不断创新，聆听消费要求，开发品牌价值。
				
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				品质方针：全员参与持续改进，最大限度满足客户及消费者的需求和期望。			
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				2012年携手淘宝及京东商城，开设品牌专营店，2013年天猫蓝道夫旗舰店正式启动。
				
			</p>
		</div>
	</div>
	

	
	<div class="clear"></div>
	<include file="Public/footer" />	
 </body>
</html>