<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 

  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta name="renderer" content="webkit" /> 
  <meta name="mobile-agent" content="format=html5;url=http://m.fkxifu.icoc.cc/" /> 
  <meta name="keywords" content="蓝道夫,祥达" /> 
  <meta name="description" content="蓝道夫,祥达" /> 
  	<include file="Public/header" title="公司介绍-肇庆祥达鞋业有限公司" />
 </head> 
 <body>
	<include file="Public/nav" />
	
	<div class="clear"></div>

	<div class="story">
		<div class="story-title">品牌故事</div>
		<div class="story-line"></div>
			<div class="clear"></div>
		<img src="__PUBLIC__/images/brandstory.jpg"/>
	</div>
	
	<div class="clear"></div>
	<include file="Public/footer" />	
 </body>
</html>