<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 

  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta name="renderer" content="webkit" /> 
  <meta name="mobile-agent" content="format=html5;url=http://m.fkxifu.icoc.cc/" /> 
  <meta name="keywords" content="蓝道夫,祥达" /> 
  <meta name="description" content="蓝道夫,祥达" /> 
  	<include file="Public/header" title="联系我们-肇庆祥达鞋业有限公司" />
	 <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Abcty2d6CGtscG1TZK3K32ZFIR5bMURZ"></script>

 </head> 
 <body>
	<include file="Public/nav" />
	<div class="clear"></div>

	<div class="connect">
		<div class="connect-left">
			<div class="connect-title">联系我们</div>
			<div class="connect-line"></div>
			<p>联系电话：0758-6196244</p>
			<p>地址：广东省肇庆市端州八路棠下工业村(肇庆城西汽车站旁)</p>
			<p>乘车路线：可坐4路、5路、13路、16路、302路到肇庆城西汽车站即到</p>
			<p>邮编：526040</p>
		</div>
		<div class="connect-right">
			<div style="width:660px; height:550px; border:#ccc solid 1px;font-size:12px" id="map"></div>
		</div>
	</div>
	

	
	<div class="clear"></div>
	<include file="Public/footer" />	
 </body>
  <script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(112.418216,23.082121),19);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){

      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
  </script>

</html>